<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<script th:replace="fragments/template :: cookiedisclaimer"></script>
<head th:replace="fragments/template :: head"></head>

<body th:inline="text">
<div th:replace="fragments/template :: navbar">...</div>
!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>Language codes cheat sheet</h1>
    </div>

    <div th:if="${languageList != null}">
        <ul>
            <li th:each="language : ${languageList}" th:text="${language}" >Language Description</li>
        </ul>
    </div>


</div>

<div th:replace="fragments/template :: footer">...</div>

</body>
</html>